.Home{
  text-align: center;
}
.Home-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Home-logo{
    animation: Home-logo-spin infinite 20s linear;
  }
}
@keyframes Home-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Home-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home-link {
  color: #61dafb;
}



.button-logs::after,.button-logs::before{
  border:2px solid #fe9680;
  content:"";
  position:absolute;
  width:100%;
  height:100%;
  left:-2px;
  bottom:-2px;
  z-index: -1;
  transition: transform 0.3s ease;
}

.button-logs:hover::after{
  transform:translate(-10px,-10px)
}
.button-logs:hover::before{
  transform:translate(10px,10px)
}

.button-log-page:hover{
  border-radius: 10px;
  border:1px solid white;
  color:#fe9680;
  font-weight:600;
}

.button-delete-profil{
  width:fit-content;
  position:absolute;
  bottom:5%;
  right:5%;
  background-color:#fe9680;
  border-radius:10px;
  border:0.3px solid black;
}

.button-delete-profil:hover{
  background-color:red;
  color:white;
  transition: ease 0.3s;
  transform: scale(1.1);
}